<a href="https://colab.research.google.com/github/kasa10/Digital_Team_Gazpromneft_MIPT/blob/main/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas==1.3.0

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv('/content/drive/MyDrive/pad+linear_interpolate_data.csv',parse_dates=['datetime'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67136 entries, 0 to 67135
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   datetime                     67136 non-null  datetime64[ns]
 1   Номер скважины               67136 non-null  int64
 2   Дебит нефти                  67136 non-null  float64
 3   Давление забойное            67136 non-null  float64
 4   x                            67136 non-null  float64
 5   y                            67136 non-null  float64
 6   Объем жидкости               67136 non-null  float64
 7   Объем нефти                  67136 non-null  float64
 8   Активная мощность (ТМ)       67136 non-null  float64
 9   Время работы (ТМ)            67136 non-null  float64
 10  Газовый фактор рабочий (ТМ)  67136 non-null  float64
 11  Давление буферное            67136 non-null  float64
 12  Давление забойное от Hд      67136 non-null  float64
 13  Давление забойное от Pпр     67136 non-null  float64
 14  Давление линейное (ТМ)       67136 non-null  float64
 15  Давление на входе ЭЦН (ТМ)   67136 non-null  float64
 16  Дебит газа (ТМ)              67136 non-null  float64
 17  Дебит газа попутного         67136 non-null  float64
 18  Дебит жидкости (ТМ)          67136 non-null  float64
 19  Коэффициент мощности (ТМ)    67136 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(1)
memory usage: 10.2 MB

In [3]:

def explore_data():
    """ Make some visualizations and collect statistics about data in files """

    print(f'Размер train таблицы {train.shape}')
    print(f'Размер test таблицы {test.shape}')

    print(f'Количество уникальных скважин в train таблице: {len(train["Номер скважины"].unique())}')
    print(f'Количество уникальных скважин в test таблице: {len(test["Номер скважины"].unique())}')

    wells = list(train["Номер скважины"].unique())
    well_df = train[train["Номер скважины"] == wells[0]]
    print(well_df)
    print(f'Размер таблицы с данными для одной скважины {well_df.shape}')


explore_data()

NameError: ignored

In [ ]:
pip install fedot

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67136 entries, 0 to 67135
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   datetime                     67136 non-null  datetime64[ns]
 1   Номер скважины               67136 non-null  int64
 2   Дебит нефти                  67136 non-null  float64
 3   Давление забойное            67136 non-null  float64
 4   x                            67136 non-null  float64
 5   y                            67136 non-null  float64
 6   Объем жидкости               67136 non-null  float64
 7   Объем нефти                  67136 non-null  float64
 8   Активная мощность (ТМ)       67136 non-null  float64
 9   Время работы (ТМ)            67136 non-null  float64
 10  Газовый фактор рабочий (ТМ)  67136 non-null  float64
 11  Давление буферное            67136 non-null  float64
 12  Давление забойное от Hд      67136 non-null  float64
 13  Давление забойное от Pпр     67136 non-null  float64
 14  Давление линейное (ТМ)       67136 non-null  float64
 15  Давление на входе ЭЦН (ТМ)   67136 non-null  float64
 16  Дебит газа (ТМ)              67136 non-null  float64
 17  Дебит газа попутного         67136 non-null  float64
 18  Дебит жидкости (ТМ)          67136 non-null  float64
 19  Коэффициент мощности (ТМ)    67136 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(1)
memory usage: 10.2 MB

In [3]:
df.datetime.max()

Timestamp('1992-04-26 00:00:00')

In [6]:
test=df[df.datetime>'1992-01-13']
test=test[test.datetime<='1992-04-11']
train=df[df.datetime<='1992-01-13']

In [8]:
test.datetime.value_counts()

1992-02-07    165
1992-04-08    165
1992-03-08    165
1992-03-31    106
1992-02-04    106
             ...
1992-02-10    106
1992-04-07    106
1992-02-23    106
1992-03-07    106
1992-02-16    106
Name: datetime, Length: 89, dtype: int64

In [51]:
test.datetime.value_counts()

1992-02-07    165
1992-04-08    165
1992-03-08    165
1992-03-01    106
1992-02-09    106
             ...
1992-04-21      4
1992-04-22      4
1992-04-26      1
1992-04-25      1
1992-04-24      1
Name: datetime, Length: 104, dtype: int64

In [68]:
test[test=='1992-04-08'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9611 entries, 531 to 67135
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   datetime                     165 non-null    datetime64[ns]
 1   Номер скважины               0 non-null      float64
 2   Дебит нефти                  0 non-null      float64
 3   Давление забойное            0 non-null      float64
 4   x                            0 non-null      float64
 5   y                            0 non-null      float64
 6   Объем жидкости               0 non-null      float64
 7   Объем нефти                  0 non-null      float64
 8   Активная мощность (ТМ)       0 non-null      float64
 9   Время работы (ТМ)            0 non-null      float64
 10  Газовый фактор рабочий (ТМ)  0 non-null      float64
 11  Давление буферное            0 non-null      float64
 12  Давление забойное от Hд      0 non-null      float64
 13  Давление забойное от Pпр     0 non-null      float64
 14  Давление линейное (ТМ)       0 non-null      float64
 15  Давление на входе ЭЦН (ТМ)   0 non-null      float64
 16  Дебит газа (ТМ)              0 non-null      float64
 17  Дебит газа попутного         0 non-null      float64
 18  Дебит жидкости (ТМ)          0 non-null      float64
 19  Коэффициент мощности (ТМ)    0 non-null      float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 1.5 MB

In [49]:
test

,datetime,Номер скважины,Дебит нефти,Давление забойное,x,y,Объем жидкости,Объем нефти,Активная мощность (ТМ),Время работы (ТМ),Газовый фактор рабочий (ТМ),Давление буферное,Давление забойное от Hд,Давление забойное от Pпр,Давление линейное (ТМ),Давление на входе ЭЦН (ТМ),Дебит газа (ТМ),Дебит газа попутного,Дебит жидкости (ТМ),Коэффициент мощности (ТМ)
531,1992-01-14,0,8.197,76.186010,18670.86,5714.86,NaN,NaN,NaN,2.032778,87.414,NaN,42.923165,NaN,17.765181,655.000000,77.095000,17.20,17.200000,NaN
532,1992-01-15,0,9.288,70.790236,18670.86,5714.86,NaN,NaN,NaN,1.899722,141.931,26.0,44.163355,NaN,25.567955,655.000000,91.185000,14.90,14.900000,NaN
533,1992-01-16,0,8.353,67.559812,18670.86,5714.86,NaN,NaN,27.700000,2.099444,42.339,NaN,44.307383,NaN,16.671882,655.000000,39.960000,13.40,13.400000,82.250000
534,1992-01-17,0,9.538,70.962720,18670.86,5714.86,NaN,NaN,61.166667,4.066111,22.463,NaN,44.115194,NaN,16.799331,655.000000,46.723333,15.30,15.300000,72.000000
535,1992-01-18,0,8.665,68.644577,18670.86,5714.86,NaN,NaN,50.952632,2.366389,69.193,NaN,44.252086,NaN,17.766545,655.000000,72.920000,13.90,13.900000,64.105263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67131,1992-04-07,105,7.646,122.180672,14230.22,22456.04,NaN,NaN,252.298969,24.000000,NaN,NaN,122.180672,99.535735,11.548286,20.536082,NaN,451.36,451.358333,72.876289
67132,1992-04-08,105,7.639,122.182381,14230.22,22456.04,15472.802,161.526,251.647423,24.000000,NaN,NaN,122.182381,99.202518,11.556784,20.459184,NaN,450.97,450.972727,72.855670
67133,1992-04-09,105,7.657,122.183551,14230.22,22456.04,NaN,NaN,251.713542,24.000000,NaN,13.0,122.183551,99.119048,11.583542,20.104167,NaN,452.03,452.027273,72.302083
67134,1992-04-10,105,7.654,122.180372,14230.22,22456.04,NaN,NaN,251.504167,24.000000,NaN,NaN,122.180372,98.744075,11.601396,20.052083,NaN,451.85,451.850000,72.041667
67135,1992-04-11,105,7.653,122.180912,14230.22,22456.04,NaN,NaN,251.987629,24.000000,NaN,NaN,122.180912,98.691864,11.622640,20.268041,NaN,451.80,451.800000,72.309278

In [50]:
train.shape

(57348, 20)

In [42]:
train

,datetime,Номер скважины,Дебит нефти,Давление забойное,x,y,Объем жидкости,Объем нефти,Активная мощность (ТМ),Время работы (ТМ),Газовый фактор рабочий (ТМ),Давление буферное,Давление забойное от Hд,Давление забойное от Pпр,Давление линейное (ТМ),Давление на входе ЭЦН (ТМ),Дебит газа (ТМ),Дебит газа попутного,Дебит жидкости (ТМ),Коэффициент мощности (ТМ)
0,1990-08-01,0,19.939,NaN,18670.86,5714.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-08-02,0,19.939,39.064454,18670.86,5714.86,NaN,NaN,50.851351,9.600833,NaN,NaN,33.913336,39.064454,1.887872,30.293676,3843.746667,24.25,24.250000,98.534314
2,1990-08-03,0,21.172,39.064487,18670.86,5714.86,NaN,NaN,52.353846,NaN,NaN,NaN,33.806090,39.064487,1.885714,30.261774,3900.955000,25.75,25.833333,99.139785
3,1990-08-04,0,22.529,38.965297,18670.86,5714.86,NaN,NaN,51.242424,9.600000,NaN,NaN,33.695717,38.965297,1.875851,30.212768,3874.505000,27.40,27.933333,98.744318
4,1990-08-05,0,22.529,38.766822,18670.86,5714.86,NaN,NaN,50.910256,9.563889,NaN,NaN,33.695717,38.766822,1.873163,30.109119,3853.696667,27.40,27.400000,98.419689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67043,1992-01-10,105,7.494,122.261953,14230.22,22456.04,NaN,NaN,249.672000,24.000000,NaN,NaN,122.261953,100.830007,11.076272,28.320000,NaN,491.52,491.520000,71.000000
67044,1992-01-11,105,7.353,122.304174,14230.22,22456.04,NaN,NaN,250.180392,24.000000,NaN,NaN,122.304174,100.825569,12.133166,25.823529,NaN,482.30,482.304000,71.000000
67045,1992-01-12,105,7.371,122.301037,14230.22,22456.04,NaN,NaN,250.738806,24.000000,NaN,NaN,122.301037,102.755983,11.805551,23.865672,NaN,483.46,483.458824,71.044776
67046,1992-01-13,105,7.336,122.306973,14230.22,22456.04,NaN,NaN,250.772340,24.000000,NaN,NaN,122.306973,101.971485,11.949284,23.106383,NaN,481.20,481.200000,71.127660
67047,1992-01-14,105,7.389,122.298076,14230.22,22456.04,NaN,NaN,250.475410,24.000000,NaN,NaN,122.298076,101.859796,11.983187,23.000000,NaN,484.62,484.618182,71.114754

In [9]:
import pandas as pd
import numpy as np

from fedot.api.main import Fedot
from fedot.core.repository.tasks import TsForecastingParams
from tqdm import tqdm

FORECAST_HORIZON = 90


def make_fit_predict(historical_values: pd.DataFrame,
                     forecast_horizon: int = FORECAST_HORIZON):
    """
    Используется одномерный временной ряд для обучения FEDOT модели
    Затем используется временной ряд как предыстория для формирования прогноза
    в будущее
    """
    time_series = np.array(historical_values["Дебит нефти"])

    model = Fedot(problem='ts_forecasting',
                  task_params=TsForecastingParams(forecast_length=forecast_horizon),
                  timeout=0.5, preset='fast_train', n_jobs=-1)

    # run AutoML model design in the same way
    pipeline = model.fit(features=time_series, target=time_series,
                         predefined_model='auto')
    forecast = model.predict(time_series)

    # Generate pipeline with datetime and predicted column
    date_range = pd.date_range(start='1992-01-14', freq='1D', periods=FORECAST_HORIZON)
    forecast_df = pd.DataFrame({'datetime': date_range, 'forecast': forecast})
    return forecast_df


def launch_baseline():
    train_df = train
    wells = list(train_df["Номер скважины"].unique())

    all_forecasts = []
    with tqdm(total=len(wells)) as pbar:
        for well in wells:
            well_df = train_df[train_df["Номер скважины"] == well]

            # Make predictions with FEDOT framework
            forecats_df = make_fit_predict(well_df)
            forecats_df["Номер скважины"] = [well] * len(forecats_df)
            all_forecasts.append(forecats_df)

            pbar.update(1)

    all_forecasts = pd.concat(all_forecasts)
    all_forecasts.to_csv('baseline_forecast_train.csv', index=False)


launch_baseline()

100%|██████████| 106/106 [01:01<00:00,  1.72it/s]

In [10]:
predict=pd.read_csv("/content/baseline_forecast_train.csv",parse_dates=["datetime"])

In [11]:
predict.shape

(9540, 3)

In [12]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import mean_squared_error
from tqdm import tqdm


def calculate_final_score():
    """ Расчет метрики по таблице с предсказаниями алгоритма """
    df_with_metrics = pd.read_csv("/content/baseline_forecast_train.csv", parse_dates=['datetime'])
    wells = list(df_with_metrics["Номер скважины"].unique())

    #train_df = pd.read_csv(os.path.join(get_project_path(), 'data', 'train.csv'), parse_dates=['datetime'])
    test_df = test#pd.read_csv(os.path.join(get_project_path(), 'data', 'test.csv'), parse_dates=['datetime'])
    metrics = []
    with tqdm(total=len(wells)) as pbar:
        for well in wells:
            well_forecast_df = df_with_metrics[df_with_metrics["Номер скважины"] == well]
            well_forecast_df = well_forecast_df.sort_values(by='datetime')

            well_actual_df = test_df[test_df["Номер скважины"] == well]
            well_actual_df = well_actual_df.sort_values(by='datetime')

            rmse_metric = mean_squared_error(np.array(well_actual_df['Дебит нефти']),
                                             np.array(well_forecast_df['forecast']),
                                             squared=False)
            metrics.append(rmse_metric)

            
    metrics = np.array(metrics)
    return np.mean(metrics)



metric = calculate_final_score()
print(f'Метрика RMSE {metric:.2f}')

  0%|          | 0/106 [00:00<?, ?it/s]

ValueError: ignored

In [16]:
df_with_metrics = pd.read_csv("/content/baseline_forecast_train.csv", parse_dates=['datetime'])
wells = list(df_with_metrics["Номер скважины"].unique())

#train_df = pd.read_csv(os.path.join(get_project_path(), 'data', 'train.csv'), parse_dates=['datetime'])
test_df = test#pd.read_csv(os.path.join(get_project_path(), 'data', 'test.csv'), parse_dates=['datetime'])
metrics = []
with tqdm(total=len(wells)) as pbar:
    for well in wells:
        well_forecast_df = df_with_metrics[df_with_metrics["Номер скважины"] == well]
        well_forecast_df = well_forecast_df.sort_values(by='datetime')

        well_actual_df = test_df[test_df["Номер скважины"] == well]
        well_actual_df = well_actual_df.sort_values(by='datetime')


print(len(np.array(well_actual_df['Дебит нефти'])))
print(len(np.array(well_forecast_df['forecast'])))

  0%|          | 0/106 [00:00<?, ?it/s]

89
90